{% extends 'layout.html' %}


{% block body  %}

<div class="intro">
    <h1>Black Jack</h1>
   <a href="/game">Click to start</a>
</div>

<div class="intro">
    <img class="card" src="/static/img/blue_back.png">
    <img class="card" src="/static/img/green_back.png">
    <img class="card" src="/static/img/red_back.png">
    <img class="card" src="/static/img/gray_back.png">
    <img class="card" src="/static/img/purple_back.png">
    <img class="card" src="/static/img/yellow_back.png">
</div>



{% endblock %}